* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

body {
    background-color: #542F7D;
    margin: 0 auto;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #e3e4e7;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    padding-top: 15px;
}

li a:hover {
    color: #00e296;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.logo a {
    margin: 0;
    padding-right: 24px;
    text-decoration: none;
    color: #e3e4e7;
    font-size: 1rem;
}

.navbar {
    width: 90%;
    max-width: 1240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-top: 34px;
    margin: 0 24px;
}

.navbar .links {
    display: none;
    gap: 3rem;
}

.open_menu img {
    width: 24px;
    height: 24px;
}

.navbar .btn {
    display: none;
}

.navbar .open_menu {
    cursor: pointer;
}

.dropdown_menu {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    height: 0;
    width: 90%;
    background: #150927;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 100vh;
}

.dropdown_menu li {
    padding: 20px 20px 20px 64px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dropdown_menu li:first-of-type {
    display: flex;
    justify-content: flex-start;
    padding: 64px 0 0 24px;
}

.dropdown_menu li:nth-child(2) {
    padding-top: 50px;
}

.dropdown_menu li:last-of-type {
    padding: 20px 20px 20px 40px;
}

.close_menu img {
    width: 24px;
    height: 24px;
}

.dropdown_menu .action_btn {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

h3,
h4 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #e4e3e7;
}

/* Hero Section */

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 2.25em;
    font-weight: 400;
    color: #e4e3e7;
    text-align: center;
    padding: 0 32px;
    letter-spacing: 1%;
    margin: 80px 32px 30px;
}

h1>span {
    color: #3a205b;
}

.hero p {
    color: #a09ad6;
    text-align: center;
    margin: 0 24px 30px;
    padding: 0 25px;
    font-size: 1rem;
    line-height: 25px;
}

span>img {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px;
}

.action_btn {
    background-color: #00e296;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    font-size: 0.875rem;
    width: 126px;
    height: 41px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    transition: 0.2s ease-in-out;
}

.action_btn:hover {
    box-shadow: 0 0 20px rgba(0, 226, 150, .50);
    scale: 1.05;
    outline: 1px solid #00e296;
    outline-offset: 4px;
    transition: 0.15s ease-in-out;
    color: #e3e4e7;
}

.btn_hero:active {
    scale: 0.95;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px 0 60px;
}

.social-icons img {
    width: 25px;
    height: 25px;
    margin: 0 24px;
    border-radius: 100%;
    transition: 0.2s ease-in-out;
}

.social-icons img:hover {
    box-shadow: 0 0 20px rgba(0, 226, 150, .50);
    scale: 1.05;
    outline: 1px solid #00e296;
    outline-offset: 4px;
    transition: 0.3s ease-in-out;
}

.down-scroll {
    color: #e4e3e7;
    margin: 0 auto;
    padding-top: 100px;
}

/***************************************************** Projects Section ******************************************************/


h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 3em;
    font-weight: 900;
    color: #42186f;
    text-transform: uppercase;
    margin: 0 auto 40px;
    text-align: center;
}

.projects .content-wrapper {
    margin: 60px 24px;
}

.project-container {
    margin-bottom: 80px;
}

.project-container img {
    width: 327px;
    height: 236px;
    box-shadow: 0 4px 10px rgba(21, 9, 39, 0.25);
}

.project-content {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.project-content h3 {
    margin-top: 40px;
}

.project-content p {
    color: #a09ad6;
    margin: 20px 30px;
}

.stack {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #00e296;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.btn_demo {
    text-align: center;
    background-color: #a09ad6;
    color: #fff;
    width: 116px;
    height: 41px;
    border-radius: 20.5px;
    border-style: none;
    box-shadow: 0 2px 6px rgba(21, 9, 39, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: 0.2s ease-in-out;
}

.btn_demo:hover {
    box-shadow: 0 2px 10px rgba(21, 9, 39, 0.40);
    scale: 1.05;
    transition: 0.2s ease-in-out;
}

.btn_demo:active {
    scale: 0.95;
    box-shadow: inset 0px 4px 8px rgba(66, 24, 111, 0.25);
}

a {
    text-decoration: none;
}

/* Skills Section */

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px 25px;
    grid-template-areas:
        "box-1 box-2"
        "box-3 box-4"
        "box-5 box-5";
    width: 235px;
    height: 365px;
    margin-bottom: 65px;
}

.box-1 {
    grid-area: box-1;
    width: 105px;
    height: 105px;
}

.box-2 {
    grid-area: box-2;
    width: 105px;
    height: 105px;
}

.box-3 {
    grid-area: box-3;
    width: 105px;
    height: 105px;
}

.box-4 {
    grid-area: box-4;
    width: 105px;
    height: 105px;
}

.box-5 {
    justify-self: center;
    align-self: center;
    grid-area: box-5;
    width: 105px;
    height: 105px;
}

.html {
    --bg-color: #7A1818;
    --bg-color-light: #fff;
    --box-shadow-color: rgba(122, 24, 24, 0.75);
}

.css {
    --bg-color: #185B84;
    --bg-color-light: #fff;
    --box-shadow-color: rgba(24, 91, 132, 0.75);
}

.js {
    --bg-color: #C5AD33;
    --bg-color-light: #fff;
    --box-shadow-color: rgba(197, 173, 51, 0.75);
}

.react {
    --bg-color: #5FA9B1;
    --bg-color-light: #fff;
    --box-shadow-color: rgba(95, 169, 177, 0.75);
}

.node {
    --bg-color: #1F6A47;
    --bg-color-light: #fff;
    --box-shadow-color: rgba(31, 106, 71, 0.75);
}

.tiles-card {
    width: 105px;
    height: 105px;
    background: var(--bg-color-light);
    overflow: hidden;
    position: relative;
    box-shadow: 0 0px 26px rgba(122, 24, 24, 0.09);
    border-radius: 8px;
    transition: all 0.3s ease-out;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tiles-overlay {
    width: 78px;
    height: 78px;
    position: absolute;
    border-radius: 50%;
    background: var(--bg-color);
    margin: auto;
    z-index: 0;
    transition: transform 0.3s ease-out;
}

.tiles-circle {
    width: 91px;
    height: 91px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
    margin: auto;
}

.tiles-circle::after {
    content: "";
    width: 78px;
    height: 78px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    transition: opacity 0.3s ease-out;
}

.tiles-circle img {
    height: 55px;
    margin-top: 5px;
    z-index: 10000;
    transform: scale(1) translateZ(0) rotateY(0deg);
    transition: all 0.3s ease-out;
    position: static;
}

.tiles-circle p {
    opacity: 0;
    visibility: hidden;
    transform: scale(0) translateZ(0) rotateY(180deg);
    transition: all 0.3s ease-out;
    position: absolute;
    z-index: 10000;
    cursor: default;
}

.tiles-card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 0px 36px rgba(0, 0, 0, 0.11), 0 0px 46px var(--box-shadow-color);

    .tiles-overlay {
        transform: scale(4) translateZ(0);
    }

    .tiles-circle {
        border-color: var(--bg-color-light);
        background: var(--bg-color);
    }

    .tiles-circle::after {
        background: var(--bg-color-light);
    }

    .tiles-circle img {
        opacity: 0;
        transform: scale(0) translateZ(0) rotateY(180deg);
        position: absolute;
    }

    .tiles-circle p {
        opacity: 1;
        visibility: visible;
        transform: scale(1) translateZ(0) rotateY(0deg);
        position: static;
    }
}

/* Tools Section */

.tools-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 25px;
    grid-template-areas:
        "box-1 box-2"
        "box-3 box-4"
        "box-5 box-6";
    width: auto;
    height: auto;
    margin: 0 auto;
}

.tool-1 {
    grid-area: box-1;
    width: 151px;
    height: 49px;
}

.tool-2 {
    grid-area: box-2;
    width: 151px;
    height: 49px;
}

.tool-3 {
    grid-area: box-3;
    width: 151px;
    height: 49px;
}

.tool-4 {
    grid-area: box-4;
    width: 151px;
    height: 49px;
}

.tool-5 {
    grid-area: box-5;
    width: 151px;
    height: 49px;
}

.tool-6 {
    grid-area: box-6;
    width: 151px;
    height: 49px;
}

.tool-1 img,
.tool-2 img,
.tool-3 img,
.tool-4 img,
.tool-5 img,
.tool-6 img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 151px;
    height: 49px;
}

.tools {
    display: flex;
    justify-self: center;
    align-items: center;
}

/* About Section */

.about {
    margin-top: 235px;
}

.about .content-wrapper {
    margin: 0;
    position: relative;
    top: 0;
}

.photo img {
    width: 275px;
    height: 413.6px;
    margin: 15px 0 80px;
}

.photo {
    position: absolute;
    top: -90px;
    left: 50px;
    z-index: 3;
}

.background-box {
    background-color: #a09ad6;
    width: 100%;
    height: 700px;
    position: relative;
    z-index: 1;
    top: 0px;
    left: 0px;
    clip-path:
        polygon(100% 0%, 100% 65%, 0% 100%, 0% 35%);
}

.about-content {
    background-color: #2E104D;
    width: 327px;
    height: 494px;
    position: absolute;
    bottom: -85px;
    left: 24px;
    z-index: 2;
}

.about-content h4 {
    font-size: 1.5em;
    font-weight: 500px;
    text-align: center;
    margin-top: 60px;
}

.about-content p {
    font-size: 0.875em;
    color: #a09ad6;
    width: 267px;
    text-align: center;
    line-height: 19px;
    margin: 15px 30px 30px;
}

/* Contact Section */

.contact {
    margin-top: 235px;

}

.contact .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.contact h2 {
    padding-bottom: 60px;
}

.contact h3 {
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.contact p {
    color: #a09ad6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 60px;
    font-size: 1.25em;
    padding-bottom: 25px;
}

.contact-content .social-icons {
    margin: 30px 0 65px;
}

.action_btn .btn_contact {
    background-color: #00e296;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    font-size: 0.875rem;
    width: 126px;
    height: 41px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    transition: 0.2s ease-in-out;
}

.action_btn .btn_contact:hover {
    box-shadow: 0 0 20px rgba(0, 226, 150, .50);
    scale: 1.05;
    outline: 1px solid #00e296;
    outline-offset: 4px;
    transition: 0.15s ease-in-out;
    color: #e3e4e7;
}

.btn_contact:active {
    scale: 0.95;
}



footer p {
    font-family: 'Rubik', sans-serif;
    font-size: 0.875em;
    color: #e3e4e7;
    text-align: center;
    margin: 145px 0 20px;
}





/* Tablet Styles */

@media(min-width: 768px) and (max-width: 1439px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .dropdown_menu {
        display: none;
    }

    li a {
        font-size: 1.5rem;
        padding-top: 30px;
        padding-left: 42px;
    }

    .logo a {
        padding-right: 48px;
        font-size: 1.125rem;
    }

    .navbar {
        padding-top: 64px;
        margin: 0 48px 80px;
    }

    .open_menu img {
        width: 48px;
        height: 48px;
    }

    .dropdown_menu li:first-of-type {
        padding-left: 48px;
    }

    .dropdown_menu li:last-of-type {
        padding-top: 40px;
        padding-left: 0;
        margin: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .close_menu img {
        width: 48px;
        height: 48px;
    }

    .dropdown_menu .action_btn {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        height: 80px;
        border-radius: 50px;
        font-size: 1.5rem;
    }

    h3,
    h4 {
        font-family: 'Rubik', sans-serif;
        font-size: 1.5em;
        font-weight: 400;
        color: #e4e3e7;
    }

    h1 {
        font-size: 4rem;
        margin: 100px 0 40px;
        letter-spacing: 5%;
    }

    .hero p {
        font-size: 1.5rem;
        line-height: 35px;
        margin: 0 80px 24px;
        padding: 0 40px;
    }

    .btn {
        margin-top: 20px;
        padding-top: 20px;
    }

    .action_btn {
        font-size: 1.125rem;
        width: 148px;
        height: 46px;
    }

    .social-icons {
        margin-top: 60px;
    }

    .social-icons img {
        width: 32px;
        height: 32px;
    }

    .down-scroll {
        margin-bottom: 100px;
        padding-top: 140px;
    }



    h2 {
        font-size: 5.5rem;
        text-align: left;
        margin-bottom: 100px;
        padding-bottom: 20px;
    }

    .projects .content-wrapper {
        margin: 0 64px;
    }

    .project-container {
        padding-bottom: 100px;
    }

    .project-container img {
        width: 578px;
        height: 417px;
    }

    .project-content h3 {
        font-size: 2.25rem;
        margin: 50px 0 30px;
    }

    .project-content p {
        font-size: 1.25rem;
        line-height: 28px;
        margin: 0 100px 30px;
    }

    .stack {
        font-size: 1.25rem;
        margin-bottom: 40px;
    }



    .skills-title {
        margin-left: 40px;
    }

    .skills-container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 40px;
        grid-template-areas: "box-1 box-2 box-3 box-4 box-5";
        width: 697px;
        height: 105px;
        margin-bottom: 160px;
    }

    .tool-title {
        text-align: right;
        margin-right: 40px;
    }

    .tools {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tool {
        font-family: 'Lato', sans-serif;
        background-color: #a09ad6;
        color: #e3e4e7;
        outline: 1.5px solid #a09ad6;
        outline-offset: 4px;
        width: 184px;
        height: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        border-radius: 5px;
    }

    .tools-container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "box-1 box-2 box-3"
            "box-4 box-5 box-6";
        width: 634px;
        height: auto;
        gap: 29px;
    }

    .tool-1 {
        grid-area: box-1;
        width: 192px;
        height: 51px;
    }

    .tool-2 {
        grid-area: box-2;
        width: 192px;
        height: 51px;
    }

    .tool-3 {
        grid-area: box-3;
        width: 192px;
        height: 51px;
    }

    .tool-4 {
        grid-area: box-4;
        width: 192px;
        height: 51px;
    }

    .tool-5 {
        grid-area: box-5;
        width: 192px;
        height: 51px;
    }

    .tool-6 {
        grid-area: box-6;
        width: 192px;
        height: 51px;
    }


    .about {
        padding: 10px 0;
    }

    .about .content-wrapper {
        position: relative;
        top: 0;
        margin: 100px 0;
    }

    .photo img {
        width: 288px;
        height: 432px;
        margin: 0;
    }

    .photo {
        position: absolute;
        top: 0px;
        left: 40px;
        z-index: 3;
    }

    .background-box {
        background-color: #a09ad6;
        width: 100%;
        height: 750px;
        position: relative;
        z-index: 1;
        top: 0px;
        left: 0px;
        clip-path:
            polygon(100% 0%, 100% 65%, 0% 100%, 0% 35%);
    }

    .about-content {
        background-color: #2E104D;
        width: 420px;
        height: 559px;
        position: absolute;
        bottom: 0px;
        left: 308px;
        z-index: 2;
    }

    .about-content h4 {
        font-size: 2em;
        font-weight: 500px;
        text-align: left;
        width: 305px;
        height: 38px;
        margin: 50px 81px 18px 40px;
    }

    .about-content p {
        font-size: 1.125em;
        width: 340px;
        height: 418px;
        text-align: left;
        margin-left: 40px;
        margin-top: 0;
        padding: 0;
        line-height: 22px;
    }


    .contact {
        margin-top: 180px;
    }

    .contact h2 {
        margin-top: 20px;
        padding-bottom: 80px;
    }

    .contact h3 {
        font-size: 1.825rem;
    }

    .contact-grid {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "contact-1 contact-3"
            "contact-2 contact-4";
        width: auto;
        height: 100px;
        gap: 20px 160px;
    }

    .contact-1 {
        grid-area: contact-1;
    }

    .contact-2 {
        grid-area: contact-2;
    }

    .contact-3 {
        grid-area: contact-3;
    }

    .contact-4 {
        grid-area: contact-4;
    }

    .contact-content p {
        padding: 0;
    }

    .btn_contact {
        margin-top: 100px;
    }
}


/* @media(max-width: 992px) {

    

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn
     {
        display: block;
    }

    .dropdown_menu {
        display: block;
    } 

 .menu {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 90%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 100;
        background-color: #150927;
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 56px;
    }

    .menu li:nth-child(1) {
        margin-top: 150px;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        left: 0;
    } 
} */
/* 
@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

@media(max-width: 834px) {

}
*/

@media(min-width: 1440px) {

    li a {
        font-size: 1.5em;
        padding: 0;
    }

    header {
        padding-bottom: 30px;
        margin-top: 85px;
    }

    .action_btn {
        width: 158px;
        height: 48px;
        font-size: 1.25em;
    }

    .action_btn:hover {
        outline-offset: 5px;
    }

    .navbar {
        width: 1036px;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo a {
        font-size: 1.25em;
        padding: 0;
    }

    .navbar .links {
        display: flex;
        align-items: center;
    }

    .links li:first-of-type {
        display: none;
    }

    .dropdown_menu {
        display: none;
    }

    .open_menu img {
        display: none;
    }

    .navbar .btn {
        display: flex;
        align-items: center;
        margin: 0;
    }

    h1 {
        font-size: 4em;
        margin: 80px auto 0;
        padding: 100px 0 0;
        line-height: auto;
        letter-spacing: 3%;
    }

    .hero {
        margin: 80px auto;
    }

    .hero p {
        font-size: 2em;
        line-height: 42px;
        margin: 40px 110px;
        padding: 30px 80px;
        letter-spacing: 1%;
    }

    .social-icons {
        margin-bottom: 100px;
        padding-bottom: 80px;
    }

    .social-icons img {
        width: 42px;
        height: 42px;
        margin: 0 30px;
    }

    .social-icons:hover {
        outline-offset: 5px;
    }

     .down-scroll img {
        margin: 0 auto;
        display: flex;
        align-items: center;
    } 

    .down-scroll {
        margin: 80px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .btn_hero {
        display: none;
    }

    .projects h2 {
        font-size: 7em;
        margin-top: 0;
        margin-left: 80px;
        padding-top: 0;
        padding-bottom: 120px;
        display: flex;
        justify-content: flex-start;
    }

    .projects .content-wrapper {
        padding-top: 0px;
    }

    .project-container {
        width: 547px;
        height: 889px;
        padding-bottom: 0;
    }

    .project-container img {
        width: 547px;
        height: 422px;
    }

    .project-content h3 {
        font-size: 3em;
    }

    .project-content p {
        font-size: 1.87rem;
        height: auto;
        width: 547px;
        padding: 0;
    }

    .project-grid {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 80px 106px;
        grid-template-areas:
            "project-1 project-2"
            "project-3 project-4";
        width: 547px;
        height: auto;
        margin: 0 auto;
        gap: 80px 120px;
    }

    .project-1 {
        grid-area: project-1;
    }

    .project-2 {
        grid-area: project-2;
    }

    .project-3 {
        grid-area: project-3;
    }

    .project-4 {
        grid-area: project-4;
    }

    .stack {
        font-size: 1.5rem;
        margin: 20px 0;
    }

    .btn_demo {
        background-color: #a09ad6;
        text-align: center;
        border: none;
        border-radius: 30px;
        width: 158px;
        height: 48px;
        font-size: 1.25em;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        transition: 0.2s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 60px auto;
    }

    .btn_demo a {
        color: #fff;
    }




    .skills-title {
        text-align: left;
        margin-left: 100px;
        font-size: 7em;
        margin-bottom: 80px;
    }

    .skillset .content-wrapper {
        margin-top: 100px;
    }


    .skills-container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 70px;
        grid-template-areas: "box-1 box-2 box-3 box-4 box-5";
        width: 880px;
        height: 120px;
        margin-bottom: 100px;
    }

    .box-1 {
        grid-area: box-1;
        width: 120px;
        height: 120px;
    }

    .box-2 {
        grid-area: box-2;
        width: 120px;
        height: 120px;
    }

    .box-3 {
        grid-area: box-3;
        width: 120px;
        height: 120px;
    }

    .box-4 {
        grid-area: box-4;
        width: 120px;
        height: 120px;
    }

    .box-5 {
        justify-self: center;
        align-self: center;
        grid-area: box-5;
        width: 120px;
        height: 120px;
    }

    .tiles-card {
        width: 120px;
        height: 120px;
    }

    .tiles-overlay {
        width: 100px;
        height: 100px;
    }

    .tiles-circle {
        width: 110px;
        height: 110px;
    }

    .tiles-circle::after {
        width: 100px;
        height: 100px;
    }

    .tiles-circle img {
        width: 80px;
        height: 80px;
        margin-top: 2px;
    }



    .tool-title {
        font-size: 7em;
        text-align: right;
        margin-right: 100px;
        padding-top: 80px;
        margin-bottom: 80px;
    }


    .tool {
        font-family: 'Lato', sans-serif;
        background-color: #a09ad6;
        color: #e3e4e7;
        outline: 1.6px solid #a09ad6;
        outline-offset: 5px;
        width: 200px;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        border-radius: 5px;
        font-size: 1.25rem;
    }

    .tools-container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "box-1 box-2 box-3"
            "box-4 box-5 box-6";
        width: auto;
        height: auto;
        gap: 60px 128px;
    }

    .tool-1 {
        grid-area: box-1;
        width: 210px;
        height: 56px;
    }

    .tool-2 {
        grid-area: box-2;
        width: 210px;
        height: 56px;
    }

    .tool-3 {
        grid-area: box-3;
        width: 210px;
        height: 56px;
    }

    .tool-4 {
        grid-area: box-4;
        width: 210px;
        height: 56px;
    }

    .tool-5 {
        grid-area: box-5;
        width: 210px;
        height: 56px;
    }

    .tool-6 {
        grid-area: box-6;
        width: 210px;
        height: 56px;
    }



    .about .content-wrapper {
        position: relative;
        top: 0;
        margin: 275px 0;
    }

    .photo img {
        width: 450px;
        height: 675px;
        margin: 0;
    }

    .photo {
        position: absolute;
        top: -10px;
        left: 191px;
        z-index: 3;
    }

    .background-box {
        background-color: #a09ad6;
        width: 100%;
        height: 950px;
        position: relative;
        z-index: 1;
        top: 0px;
        left: 0px;
        clip-path:
            polygon(100% 0%, 100% 65%, 0% 100%, 0% 35%);
    }
    

    .about-content {
        background-color: #2E104D;
        width: 628px;
        height: 643px;
        position: absolute;
        bottom: -10px;
        left: 621px;
        z-index: 2;
    }

    .about-content h4 {
        font-size: 2.25em;
        font-weight: 500px;
        text-align: left;
        width: 336px;
        height: 43px;
        margin: 50px 238px 20px 54px;
    }

    .about-content p {
        font-size: 1.4375em;
        width: 528px;
        height: 480px;
        text-align: left;
        margin-left: 60px;
        line-height: 30px;
        margin-top: 0;
        padding: 0;
    }


    .contact h2 {
        font-size: 7em;
        text-align: center;
    }

    .contact h3 {
        font-size: 3em;
    }

    .contact p {
        font-size: 1.875em;
    }

    .contact .content-wrapper {
        padding-top: 75px;
    }

    .contact-grid {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "contact-1 contact-3"
            "contact-2 contact-4";
        width: auto;
        height: auto;
        gap: 0px 160px;
    }

    .contact-1 {
        grid-area: contact-1;
    }

    .contact-2 {
        grid-area: contact-2;
    }

    .contact-3 {
        grid-area: contact-3;
    }

    .contact-4 {
        grid-area: contact-4;
    }

    .contact-content p {
        padding: 0;
    }

    .btn_contact {
        margin-top: 80px;
        display: flex;
    }

}