* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

body {
    background-color: #542F7D;
    margin: 0 auto;
}

h3,
h4 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #e4e3e7;
}

/* Hero Section */
header {
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-between;
    align-items: center;
    margin: 30px 24px; 
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
    margin-left: 24px;
}

.menu {
    display: flex;
}

/* .menu li {
    padding-left: 100px;
}

.menu li:nth-child(3) {
    margin-right: 50px;
} */

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #e4e3e7;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    padding-top: 15px;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #00e296;
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu,
.close-menu {
    position: absolute;
    cursor: pointer;
    display: none;
    width: 24px;
    height: 24px;
}

.open-menu {
    top: 50%;
    transform: translateY(-50%);
}

.close-menu {
    top: 45px;
    left: 36px;
}

#check {
    display: none;
}

.contact-btn img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

button {
    border-style: none;
    background-color: transparent;
    width: 136px;
    height: 51px;
    border-radius: 24px;
}

button.contact-btn:hover {
    box-shadow: 0 0 10px rgba(0, 226, 150, .25);
}

section.hero .content-wrapper {
    margin: 0 12px;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 2.25em;
    font-weight: 400;
    color: #e4e3e7;
    text-align: center;
    padding: 0 15px;
    letter-spacing: 1%;
    margin: 120px 32px 30px;
}

h1>span {
    color: #150927;
    opacity: 40%;
}

section.hero p {
    color: #a09ad6;
    text-align: center;
    margin: 0 40px 30px;
    padding: 0 15px;
    line-height: 25px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px 0 100px;
}

.social-icons img {
    width: 25px;
    height: 25px;
    margin: 0 12px;
    border-radius: 100%;
}

.social-icons img:hover {
    box-shadow: 0 0 4px rgba(0, 226, 150, 1);
}

.down-scroll {
    width: 31px;
    height: 11px;
    color: #e4e3e7;
    margin: 0 auto;
}

/***************************************************** Projects Section ******************************************************/

h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 2.5em;
    font-weight: 900;
    color: #42186f;
    text-transform: uppercase;
    margin: 0 auto 40px;
    text-align: center;
}

.projects .content-wrapper {
    margin: 80px 24px; 
}

.project-container {
    margin-bottom: 80px;
}

.project-container img {
    width: 327px;
    height: 236px;
    box-shadow: 0 4px 10px rgba(21, 9, 39, 0.25);
}

.project-content {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.project-content h3 {
    margin-top: 40px;
}

.project-content p {
    color: #a09ad6;
    margin: 20px 30px;
}

.stack {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #00e296;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

button.demo {
    text-align: center;
    background-color: #a09ad6;
    color: #fff;
    width: 116px;
    height: 41px;
    border-radius: 20.5px;
    border-style: none;
    box-shadow: 0 2px 8px rgba(21, 9, 39, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

button.demo:hover {
    box-shadow: inset 0px 4px 10px rgba(66, 24, 111, 0.25);
}

a {
    text-decoration: none;
}

/* Skills Section */

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px 25px;
    grid-template-areas:
        "box-1 box-2"
        "box-3 box-4"
        "box-5 box-5";
    width: 235px;
    height: 365px;
    margin-bottom: 65px;
}

.box-1 {
    grid-area: box-1;
    width: 105px;
    height: 105px;
}

.box-2 {
    grid-area: box-2;
    width: 105px;
    height: 105px;
}

.box-3 {
    grid-area: box-3;
    width: 105px;
    height: 105px;
}

.box-4 {
    grid-area: box-4;
    width: 105px;
    height: 105px;
}

.box-5 {
    justify-self: center;
    align-self: center;
    grid-area: box-5;
    width: 105px;
    height: 105px;
}

.html {
    --bg-color: #7A1818;
    --bg-color-light: #fff;
    --box-shadow-color: rgba(122, 24, 24, 0.75);
}

.css {
    --bg-color: #185B84;
    --bg-color-light: #fff;
    --box-shadow-color: rgba(24, 91, 132, 0.75);
}

.js {
    --bg-color: #C5AD33;
    --bg-color-light: #fff;
    --box-shadow-color: rgba(197, 173, 51, 0.75);
}

.react {
    --bg-color: #5FA9B1;
    --bg-color-light: #fff;
    --box-shadow-color: rgba(95, 169, 177, 0.75);
}

.node {
    --bg-color: #1F6A47;
    --bg-color-light: #fff;
    --box-shadow-color: rgba(31, 106, 71, 0.75);
}

.tiles-card {
    width: 105px;
    height: 105px;
    background: var(--bg-color-light);
    overflow: hidden;
    position: relative;
    box-shadow: 0 0px 26px rgba(122, 24, 24, 0.09);
    border-radius: 8px;
    transition: all 0.3s ease-out;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tiles-overlay {
    width: 78px;
    height: 78px;
    position: absolute;
    border-radius: 50%;
    background: var(--bg-color);
    margin: auto;
    z-index: 0;
    transition: transform 0.3s ease-out;
}

.tiles-circle {
    width: 91px;
    height: 91px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
    margin: auto;
}

.tiles-circle::after {
    content: "";
    width: 78px;
    height: 78px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    transition: opacity 0.3s ease-out;
}

.tiles-circle img {
    height: 55px;
    margin-top: 5px;
    z-index: 10000;
    transform: scale(1) translateZ(0) rotateY(0deg);
    transition: all 0.3s ease-out;
    position: static;
}

.tiles-circle p {
    opacity: 0;
    visibility: hidden;
    transform: scale(0) translateZ(0) rotateY(180deg);
    transition: all 0.3s ease-out;
    position: absolute;
    z-index: 10000;
    cursor: default;
}

.tiles-card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 0px 36px rgba(0, 0, 0, 0.11), 0 0px 46px var(--box-shadow-color);

    .tiles-overlay {
        transform: scale(4) translateZ(0);
    }

    .tiles-circle {
        border-color: var(--bg-color-light);
        background: var(--bg-color);
    }

    .tiles-circle::after {
        background: var(--bg-color-light);
    }

    .tiles-circle img {
        opacity: 0;
        transform: scale(0) translateZ(0) rotateY(180deg);
        position: absolute;
    }

    .tiles-circle p {
        opacity: 1;
        visibility: visible;
        transform: scale(1) translateZ(0) rotateY(0deg);
        position: static;
    }
}

/* Tools Section */

.tools {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px 25px;
    grid-template-areas:
        "box-1 box-2"
        "box-3 box-4"
        "box-5 box-6";
    width: 327px;
    height: 197px;
    margin-bottom: 160px;
}

.tool-1 {
    grid-area: box-1;
    width: 151px;
    height: 49px;
}

.tool-2 {
    grid-area: box-2;
    width: 151px;
    height: 49px;
}

.tool-3 {
    grid-area: box-3;
    width: 151px;
    height: 49px;
}

.tool-4 {
    grid-area: box-4;
    width: 151px;
    height: 49px;
}

.tool-5 {
    grid-area: box-5;
    width: 151px;
    height: 49px;
}

.tool-6 {
    grid-area: box-6;
    width: 151px;
    height: 49px;
}

/* About Section */
section.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo>img {
    margin: 60px 67px 80px 68px;
    width: fit-content;
}

h4 {
    font-weight: 500;
    text-align: center;
}

section.about p {
    font-size: 0.875em;
    color: #a09ad6;
    text-align: center;
    margin: 40px 24px 80px;
    line-height: 19px;
    padding: 0 8px;
}

/* Contact Section */

.contact .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.contact h2 {
    padding-bottom: 60px;
}

section.contact h3 {
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

section.contact p {
    color: #a09ad6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 60px;
    font-size: 1.25em;
    padding-bottom: 25px;
}

.contact-content .social-icons {
    margin: 30px 0 65px;
}

footer p {
    font-family: 'Rubik', sans-serif;
    font-size: 0.875em;
    color: #e3e4e7;
    text-align: center;
    margin: 145px 0 40px;
}

span>img {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

@media(max-width: 610px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 90%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 100;
        background-color: #150927;
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 56px;
    }

    .menu li:nth-child(1) {
        margin-top: 150px;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked ~ .menu {
        left: 0;
    }
}